.cozy-leaf__aboutus-container {
  background-color: var(--section3-bg);
  color: var(--second-bg);
  display: flex;
  gap: 1.5rem;
}

/* ---------------------------PHOTO SECTION--------------------------- */
.cozy-leaf__aboutus-photo {
  width: 100%;
  height: 100%;
}
.cozy-leaf__aboutus-photo img {
  object-fit: cover;
  width: 40vw;
  min-width: 250px;
  min-height: 200px;
  height: 100%;
}

/* ---------------------------TITLE SECTION--------------------------- */
.cozy-leaf__aboutus-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem; /* Space between elements */
}
.cozy-leaf__aboutus-heading {
  display: grid; /* Centers the heading within the grid */
  align-self: flex-end;
}
.cozy-leaf__aboutus-heading h1 {
  color: var(--second-bg);
  text-align: right;
}

/* ---------------------------INFO SECTION--------------------------- */
.cozy-leaf__aboutus-info p {
  font-size: 1.3rem; /* Default font size for larger screens */
  font-weight: 600;
  text-align: right;
}

/* ---------------------------SCREEN--------------------------- */
/* For tablets (max-width 1024px) */
@media screen and (max-width: 1024px) {
  .cozy-leaf__aboutus-info p {
    font-size: 1.2rem;
  }
}

/* For mobile screens (max-width 600px) */
@media screen and (max-width: 600px) {
  .cozy-leaf__aboutus-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  .cozy-leaf__aboutus-heading {
    align-self: center;
  }
  .cozy-leaf__aboutus-heading h1 {
    text-align: center;
  }
  .cozy-leaf__aboutus-photo {
    width: 100%;
    height: 50%;
  }
  .cozy-leaf__aboutus-photo img {
    width: 100%;
  }
  .cozy-leaf__aboutus-info p {
    text-align: center; /* Centered text for readability */
    font-size: 1rem; /* Smaller font size for mobile */
  }
}
/* For mobile screens (max-width 400px) */
@media screen and (max-width: 400px) {
  .cozy-leaf__aboutus-container {
    justify-content: flex-start;
    gap: .5rem;
  }
}
