.cozy-leaf__header-container {
  background-color: var(--section1-bg); 
  color: var(--font-color); 
  display: flex; 
  justify-content: space-between;
  gap: 1.5rem;
  position: relative; 
  padding-top: 15vh; /* Space for fixed navbar */
}

/* ---------------------------PHOTO SECTION--------------------------- */
.cozy-leaf__header-photo {
  width: 100%; 
}
.cozy-leaf__header-photo img {
  object-fit: cover; 
  object-position: center; 
  width: 45vw; 
  min-width: 300px; 
  height: 100%; 
}

/* ---------------------------INFO SECTION--------------------------- */
.cozy-leaf__header-info {
  width: 100%; 
  text-align: center; 
  
}
.cozy-leaf__header-info h1,
.cozy-leaf__header-info p {
  margin: .5rem 0; 
}
.cozy-leaf__header-info p {
  font-size: 1.5rem; /* Default font size for larger screens */
  
}

/* ---------------------------END SECTION--------------------------- */
.cozy-leaf__header-end {
  display: flex; 
  justify-content: center;
  width: 100%; 
}
.cozy-leaf__header-end img {
  position: relative; 
  inset: 0;
  width: 25vw;
  height: 22vw;
}

/* ---------------------------SCREEN--------------------------- */
/* For tablets (max-width 1024px) */
@media screen and (max-width: 1024px) {
  .cozy-leaf__header-info {
    margin: auto 0; 
  }
  .cozy-leaf__header-info p {
    font-size: 1.1rem; 
  }
}
/* For mobile screens (max-width 600px) */
@media screen and (max-width: 600px) {
  .cozy-leaf__header-container {
    display: block; 
    padding-top: 12vh; /* Adjusts for smaller screen space */
  }
  .cozy-leaf__header-photo img {
    width: 100%; 
  }
  .cozy-leaf__header-info p {
    font-size: 1rem; 
  }
}
