.cozy-leaf__header-container {
  background-color: var(--section1-bg); /* Background color from the theme */
  color: var(--font-color); /* Font color from the theme */
  display: flex; /* Flexbox layout to organize content */
  position: relative; /* Allows for positioning child elements */
  padding-top: 15vh; /* Space for fixed navbar */
}

/* ---------------------------PHOTO SECTION--------------------------- */
/* Wrapper for the header image */
.cozy-leaf__header-photo {
  width: 100%; 
}
.cozy-leaf__header-photo img {
  object-fit: cover; 
  object-position: center; 
  width: 45vw; 
  min-width: 300px; 
  height: 100%; 
}

/* ---------------------------INFO SECTION--------------------------- */
/* Wrapper for the header text information */
.cozy-leaf__header-info {
  width: 100%; 
  text-align: center; 
  padding: 1rem 2rem; 
}
/* Styling for the title and paragraph text */
.cozy-leaf__header-info h1,
.cozy-leaf__header-info p {
  margin: 1rem 0; 
}
.cozy-leaf__header-info p {
  font-size: 1.5rem; /* Default font size for larger screens */
  line-height: 1.5; 
}

/* ---------------------------END SECTION--------------------------- */
/* Wrapper for the image at the end of the header */
.cozy-leaf__header-end {
  position: relative; 
  display: flex; 
  justify-content: center; 
}

/* Styling for the decorative image at the end */
.cozy-leaf__header-end img {
  position: relative; 
  inset: 0; 
  width: clamp(100px, 18vw, 250px); /* Responsive size for the image */
}

/* ---------------------------SCREEN--------------------------- */
/* For tablets (max-width 1024px) */
@media screen and (max-width: 1024px) {
  .cozy-leaf__header-info {
    margin: auto 0; 
  }
  .cozy-leaf__header-info p {
    font-size: 1.1rem; 
  }
}
/* For mobile screens (max-width 600px) */
@media screen and (max-width: 600px) {
  .cozy-leaf__header-container {
    display: block; 
    padding-top: 12vh; /* Adjusts for smaller screen space */
  }
  .cozy-leaf__header-photo img {
    width: 100%; 
  }
  .cozy-leaf__header-info {
    padding: 0; 
  }
  .cozy-leaf__header-info p {
    font-size: 1rem; 
  }
}
