.cozy-leaf__footer-container {
  background-color: var(--section2-bg);
  display: flex;
  gap: 1.5rem;
}

.cozy-leaf__footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.cozy-leaf__footer-info h1 {
  color: var(--font-color);
  text-align: center;
}

/* ---------------------------PHOTO--------------------------- */
.cozy-leaf__footer-photo img {
  object-fit: cover;
  width: 100%;
  min-width: 250px;
  min-height: 200px;
  height: 100%;
}

/* ---------------------------INFO TIME--------------------------- */
.cozy-leaf__footer-info-container {
  color: var(--main-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.cozy-leaf__footer-time {
  border-radius: 10px;
  background-color: var(--section4-bg);
  padding: 10px;
  width: 50%;
}
.cozy-leaf__footer-time p {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.cozy-leaf__footer-time p span {
  font-size: 1.2rem;
  flex-basis: 50%;
}
/* ---------------------------FOOTER ICONS--------------------------- */
.cozy-leaf__footer-icons {
  color: var(--main-bg);
  font-size: 1.3rem;
  text-align: center;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}
.footer-icon {
  font-size: 4rem;
}

/* ---------------------------COMPANY INFO--------------------------- */
.cozy-leaf__footer-company {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-bg);
  font-size: 0.7rem;
}
.cozy-leaf__footer-company img {
  width: 30px;
  display: inline;
}
/* ---------------------------SCREEN--------------------------- */
/* For tablets (max-width 1024px) */
@media screen and (max-width: 1024px) {
  .cozy-leaf__footer-info h1 {
    font-size: 3rem;
  }
  .cozy-leaf__footer-time {
    width: 95%;
  }
  .cozy-leaf__footer-time p span {
    font-size: 1rem;
  }
  .cozy-leaf__footer-icons {
    font-size: 1rem;
  }
  .footer-icon {
    font-size: 3rem;
  }
  .cozy-leaf__footer-company {
    font-size: 0.5rem;
  }
}
/* For mobile screens (max-width 600px) */
@media screen and (max-width: 600px) {
  .cozy-leaf__footer-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .cozy-leaf__footer-info-container {
    flex-direction: row;
    gap: .5rem;
  }
  .cozy-leaf__footer-icons{
    width: 40%;
  }
  .cozy-leaf__footer-time p span {
    font-size: 0.7rem;
  }
  .cozy-leaf__footer-time {
    width: 60%;
  }
  .cozy-leaf__footer-company img {
    width: 20px;
  }
  .footer-icon {
    font-size: 2rem;
  }
}
