.background {
  background-image: url("../src/assets/bg5.jpg");
  background-size: cover;
  background-attachment: fixed;
}

section {
  height: 80vh;
  width: 100%;
  padding: 4rem;
}

h1 {
  font-size: 5rem;
  line-height: 1;
  filter: drop-shadow(0px 0px 5px var(--main-bg)); /*shadow border*/
}
/* ---------------------------SCREEN--------------------------- */
/* 1024px  */
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
  section {
    padding: 3rem 1rem;
  }
}

/* 600px  */
@media screen and (max-width: 600px) {
  section {
    height: 100%;
    padding: 2rem;
  }
  h1 {
    font-size: 2.5rem;
  }

}

/* 400px  */
@media screen and (max-width: 400px) {
  section {
    padding: 1.5rem 1rem;
  }
  h1 {
    font-size: 2rem;
  }
}
/* 4K 2560px  */
@media screen and (min-width: 2560px) {
  h1 {
    font-size: 9rem;
  }
}