.background {
  background-image: url("../src/assets/bg5.jpg");
  background-size: cover;
  background-attachment: fixed;
}

section {
  height: 80vh;
  width: 100%;
  padding: 4rem;
}

h1 {
  font-size: 5rem;
  line-height: 1;
}
/* ---------------------------SCREEN--------------------------- */
/* 1024px  */
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

/* 425px  */
@media screen and (max-width: 600px) {
  section {
    height: 80vh;
  }
  h1 {
    font-size: 3rem;
  }
  section {
    padding: 1rem 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2.5rem;
  }
}