.background {
  background-image: url('../src/assets/bg5.jpg');
  background-size: cover;
  background-attachment: fixed;
  
}



section {
  height: 80vh;
  padding: 3rem 5rem;
}


h1 {
  font-size: 4.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 4rem;
}

img {
  border-radius: 10px;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

